    <div class="callout callout--primary">
      <div class="grid grid--1x2">
        <div class="callout__content"><h2 class="callout__heading">Ready to Get Started?</h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aliquam totam dicta incidunt. Doloremque enim minus rerum eligendi, aperiam impedit atque illum aut reprehenderit. Voluptate soluta beatae vitae illum quaerat?</p></div>
				<a href="" class="btn btn--secondary btn--fit-content">Get Started</a>
      </div>
    </div>